{% extends './_layouts/_layout.tmpl' %}

{% block logo %}
<a href="{{ '/index.html' | relativePath }}">
    <img src="{{ '/assets/image/layout/logo.png' | relativePath }}" alt="">
</a>
<div class="header-subject">
    <img src="{{ '/assets/image/layout/subject.png' | relativePath }}" alt="">
</div>
{% endblock %}

{% block content %}
<main class="main -f02">
    <div class="main-content -card">
        <div class="card">
            <div class="card-wrap">
                <div class="complete">
                    <div class="complete-tit">感謝您的填寫</div>
                    <div class="complete-txt">
                        您已符合“VIVISPA脈輪舒筋好眠SPA護理”<br>
                        的抽獎資格<br>
                        得獎名單將於2025/XX/XX公布於本網站
                        <div class="complete-pic">
                            <img src="/assets/image/winners/02.jpg" alt="">
                        </div>
                    </div>
                    <div class="complete-action">
                        <a href="./../list.html" class="btn">回首頁</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/assets/css/complete.min.css">
{% endblock %}