@import "./_variables";
@import "./_mixins";

.main {
    min-height: pc(1900);

    &-wrap {
        flex-direction: row;
        align-items: center;
        padding: pc(260) pc(55) pc(30) pc(65);
    }

    @include breakpoint-down('tablet') {
        min-height: vw(1940);

        &-wrap {
            padding: vw(260) vw(55) vw(30) vw(65);
        }
    }
}

@keyframes tree {
    0% {
        transform: skewX(-3deg) scaleY(1);
    }

    50% {
        transform: skewX(0) scaleY(0.9);
    }

    100% {
        transform: skewX(3deg) scaleY(1);
    }
}

.list {
    &-bg {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: pc(80);
            left: pc(16);
            width: pc(996);
            height: pc(1298);
            background: url(../image/list/road.png) no-repeat center/contain;
            mix-blend-mode: overlay;
        }
    }

    &-content {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: pc(60) pc(100) 0;
    }

    &-head {
        margin-bottom: pc(30);
        font-size: pc(50);
        // font-weight: 500;
        line-height: 1.6;
        letter-spacing: em(2, 50);
        text-align: center;
        color: #494949;

        .-lgT {
            font-size: em(58, 50);
        }

        .-xlT {
            font-size: em(62, 50);
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: pc(50);
        padding-right: pc(10);
        opacity: 0;
        transform: scale(0.6);
        transition: opacity 1s, transform 1s;

        &:nth-child(odd) {
            justify-content: flex-start;
            margin: pc(-76) 0;
        }

        &.-f01 {
            transition-delay: .1s;
        }

        &.-f02 {
            transition-delay: .4s;
        }

        &.-f03 {
            transition-delay: .7s;
        }

        .-loaded & {
            opacity: 1;
            transform: scale(1);
        }
    }

    &-pic {
        position: relative;
        width: pc(449);
        text-decoration: none;
        border-radius: 50%;
        pointer-events: none;

        &>img {
            &.-on {
                display: none;
            }
        }

        .-on & {
            pointer-events: visible;

            &>img {
                &.-on {
                    display: inline-block;
                }

                &.-off {
                    display: none;
                }
            }

            &>div {
                display: none;
            }
        }

        &>div {
            position: absolute;
            top: 50%;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            transform: translateY(-50%);
            padding-left: em(12, 50);
            letter-spacing: em(12, 50);
            text-align: center;
            color: #FFF;
        }
    }

    &-date {
        margin-top: -0.25em;
        font-size: pc(100);

        span {
            font-size: pc(57);
        }
    }

    &-txt {
        font-size: pc(50);
    }

    &-name {
        position: relative;
        display: flex;
        align-items: center;
        gap: pc(20);

        &::before {
            content: '';
            position: absolute;
        }

        .-f01 & {
            margin-bottom: pc(60);

            &::before {
                top: pc(-54);
                left: pc(46);
                width: pc(94);
                height: pc(86);
                background: url(../image/list/sun.png) no-repeat center/contain;
            }
        }

        .-f02 & {
            &::before {
                bottom: pc(16);
                right: pc(-100);
                width: pc(238);
                height: pc(73);
                background: url(../image/list/cloud.png) no-repeat center/contain;
            }
        }

        .-f03 & {
            margin-top: pc(60);

            &::before {
                top: pc(-42);
                left: pc(54);
                width: pc(98);
                height: pc(82);
                background: url(../image/list/star.png) no-repeat center/contain;
            }
        }

        img {
            position: relative;
            flex: 0 0 auto;
            width: pc(70);
            transform-origin: bottom center;
            animation: tree 1s ease-in-out infinite alternate;
        }

        p {
            position: relative;
            flex: 0 0 auto;
            font-size: pc(58);
            font-weight: 300;
            line-height: 1.3;
            letter-spacing: em(8, 58);
            color: $main-color;
        }
    }

    @include breakpoint-down('tablet') {
        &-bg {
            &::after {
                bottom: vw(80);
                left: vw(16);
                width: vw(996);
                height: vw(1298);
            }
        }

        &-content {
            padding: vw(60) vw(100) 0;
        }

        &-head {
            margin-bottom: vw(30);
            font-size: vw(50);
        }

        &-item {
            gap: vw(50);
            padding-right: vw(10);

            &:nth-child(odd) {
                margin: vw(-76) 0;
            }
        }

        &-pic {
            width: vw(449);
        }

        &-date {
            font-size: vw(100);

            span {
                font-size: vw(57);
            }
        }

        &-txt {
            font-size: vw(50);
        }

        &-name {
            gap: vw(20);

            .-f01 & {
                margin-bottom: vw(60);

                &::before {
                    top: vw(-54);
                    left: vw(46);
                    width: vw(94);
                    height: vw(86);
                }
            }

            .-f02 & {
                &::before {
                    bottom: vw(16);
                    right: vw(-100);
                    width: vw(238);
                    height: vw(73);
                }
            }

            .-f03 & {
                margin-top: vw(60);

                &::before {
                    top: vw(-42);
                    left: vw(54);
                    width: vw(98);
                    height: vw(82);
                }
            }

            img {
                width: vw(70);
            }

            p {
                font-size: vw(58);
            }
        }
    }
}